<!doctype html>
<html>
<head>
    <title>XYZ_Pad - Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
    	window.ip = '{{ip}}';
    </script>
</head>
<body>
	<div class='container waiting'>
	  <div class='title'>Waiting for players...
	  	<br/>We need <span class='elapsed-players'>0</span> player(s) to start!
	  </div>
	</div>
	<div class='scoreboard'></div>
	<div class='timer'>5...</div>
	<div class='result-board'><div class='winner-name'></div><div class='winner-score'></div></div>
	<div class='status disconnected'></div>
	<div class='refresh' title='Refresh page and reconnect all connected users'></div>
    <script src="/libs/socket.io-client/socket.io.js"></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/threejs/build/three.min.js"></script>
    <script src="/desktop/app.js"></script>
</body>
</html>