<!doctype html>
<html>
<head>
    <title>XYZ_PAD</title>
    <link rel="stylesheet" type="text/css" href="/css/start.css">
    <script>
        window.ip = '{{ip}}';
    </script>
</head>
<body>
    <div class='container'>
      <div class='logo'>
        <img src='pad.png' width='100px'/>
      </div>
      <div class='title'>XYZ_Pad</div>
    </div>
    <div class='status disconnected'></div>
    <script src="/libs/socket.io-client/socket.io.js"></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script>
        var socket = io.connect(window.ip + ':3010');
        var redirect = false;
        setInterval(function() {
            var status = socket.connected;
            if (status) {
                $('.status').addClass('connected');
                $('.status').removeClass('disconnected');
                if (!redirect) {
                    redirect = true;
                    setTimeout(function(){
                        document.location.href = '/start';
                    }, 2500);
                }
            } else {
                $('.status').removeClass('connected');
                $('.status').addClass('disconnected');
            }
        }, 1000);
    </script>
</html>