<!doctype html>
<html>
<head>
    <title>XYZ_PAD</title>
    <link rel="stylesheet" type="text/css" href="/css/start.css">
    <script>
        window.ip = '{{ip}}';
    </script>
</head>
<body>
    <div class='container'>
      <div class='logo'>
        <img src='http://www.myiconfinder.com/uploads/iconsets/256-256-5e2a8fe966bf6f56fc29234d1e5817b8.png' width='100px'/>
      </div>
      <div class='title'>XYZ_Pad</div>
    </div>
    <script>
        setTimeout(function(){
            document.location.href = '/start';
        }, 2500);
    </script>
</html>