<!doctype html>
<html>
<head>
    <title>XYZ-PAD</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="color-mobile"></div>
    It's mobile part and just handle motion.
    <h1>XYZ_PAD</h1>
    <button class="ready-btn">Ready to Play!</button><br/>
    Connected users:
    <div class="ids"></div>
    <div class="rotation"></div>
    <script src="/libs/socket.io-client/socket.io.js"></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/mobile/app.js"></script></body>
</html>