<!doctype html>
<html>
<head>
    <title>XYZ_Pad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <script type="text/javascript">
        window.ip = '{{ip}}';
	</script>
</head>
<body>

    <div class='status disconnected'></div>
    <div class='login'>
        <div class='container'>
            <input class='username' placeholder='Username' id='username'/>
            <div class='accept'>Ready!</div>
        </div>
    </div>
    <div class='coords'>
      <div class='ox'/><div class='oy'/><div class='oz'/>
      <div class='x'>x: 0</div>
      <div class='y'>y: 0</div>
      <div class='z'>z: 0</div>
      <div class='color'></div>
      <div class='button ready-btn'>Im ready!</div>
    </div>
    
    <div class='result-board'><div class='winner-name'></div><div class='winner-score'></div></div>

    <script src="/libs/socket.io-client/socket.io.js"></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/mobile/app.js"></script></body>
</html>